
.create_group {
	
	margin-top: 100px;
	margin-left: 400px; 
	position: absolute;
}

.selectGroup {
	top:80px;
	left: 30px;
	position: absolute;
}


#select-group {
	width: 200px;
}
#select-member {
	width: 200px;
}

.addmember-btn {
	top:80px;
	right: 10px;
	position: absolute;
}
.fixed-top-2 {
    margin-top: 56px;
}

.sticky-top {
    padding-top: 56px;
}

#grp-task td {
	cursor: pointer;
}

.createtask_outer {
	font-weight: bold;
	border: 2px solid grey;
	border-radius:15px 15px 0px 0px ;
	padding: 10px 10px 10px 20px;
	width: 40%;
	margin-top: 8%;
	margin-left: 33%; 
	position: relative;

}
.update-task-outer {
	top:100px;
	width: 600px;
	height: 10%;
	left: 25%;
	position: absolute;

}

.task-detail {
	top:100px;
	width: 600px;
	position: relative;
}

.file-btn{
	padding: 5px 0px;
}


#activity-updated-by {
	font-weight: bold;
}
#activity-date {
	font-weight: normal;
	font-family: "Lucida Console", Courier, monospace;
	padding-left: 10px;

}
.history-comment {
	height: 500px;
	overflow: scroll;
}
#single-comment-history {
	border-left:7px solid #3b6e86; 
	border-bottom:1px solid lightgrey;
}
.createtask-btn {
	top: 70px;
	right: 50px;
	color: white;
	position: fixed;
}


#addmembertabel {
	height: 400px;
	overflow: scroll;
}

.taskassigned {

	margin-top: 100px;
	margin-left: 400px; 
	position: relative;

}

.bottom_border_style {
	border-bottom: 2px solid grey; 
	width:530px; 
	margin-top: 20px;
	margin-bottom: 20px;
}

