
.summary{
  margin-left: 35%;
    max-width: 400px;
    margin-top: 8%;
    background-color: #f1f1f1;
    

}
.summary .common-heading {
  height: 50px;
  text-align: center;
  color: white;
  font-size: 25px;
  padding:8px 0px;
  background-color: #3b6e86
}
.summary_detail_btn {
  position: relative;
  padding-left: 40px;
  
}


.mylist{
    width: 70%;
    margin-left: 16%;
}


#mylist_header{
  position: absolute;
  left: 40%;
  top: 1%;

}

#notask{
  position: absolute;
  left: 40%;
  top: 40%;
}

.customTable {
  width: 100% ; 
  border-collapse: collapse;
  margin-right: 50px;

  
}
.customTable td, .customTable th {
  border: 1px solid #ddd;
  padding: 3px;
  
}

.customTable th {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  background-color: #3b6e86;
  color: white;
}
.customTable tr:nth-child(even){background-color: #ffffff;}
.customTable tr:nth-child(odd){background-color: #f1f1f1;}

.customTable tr:hover {background-color: #ddd;}

#myTable {
  margin-left: 2%;
  max-width: 95%;
  position: absolute;
}

#myTable td, #myTable th {
  cursor: pointer;
}


.mylist_sort {
  width: 15%;
  position:absolute;
   top:15%;
   right:2%;
  background-color: #D3D3D3;
  text-align: center;
}

.mylist_sort .inside_sort{
  background-color:black;
  color: white;
}

.description-activity-outer {
  height: 400px;
  overflow: scroll;
}

.description-activity {
  border-left: 8px solid #3b6e86;
  border-bottom: 1px solid lightgrey;
}