<!DOCTYPE html>
{% extends "todoapp/base2.html" %}

{% block body_block %}
{{ block.super }}



<div class="addmember">
		<h3>Add Member</h3>
		<label>Username</label>
		<input type="text"  id = "member" name="assigned_to" required>
		<a href="" onclick="this.href='/addmember/{{grpid}}/'+ document.getElementById('member').value" class = "btn btn-primary btn-sm">Add</a>
<div>	
	</div>
	{% if messages %}
        {% for message in messages %}
          <script>
            alert("{{message}}");
          </script>
        {% endfor %}
  {% endif %}

</div>

<script >
  function testfunction(){

      console.log("hello");
    var data1 = [
        {%for data2 in data%}
          "{{data2.date}}","{{data2.time}}",
        {%endfor%}
      ];
    var task = [
        {%for data2 in data%}
          "{{data2.task}}",
        {%endfor%}
      ];

      var timearr =[];
    var i;
  for(i=0;i<(data1.length)-1;){
        timearr[timearr.length]=data1[i]+data1[i+1];
        i +=2;
      }

      var alarmInfo = {};
    
      for (let i =0; i < timearr.length; i++) {
        alarmInfo[timearr[i]+task[i]] = 'no';
      }
      
      setInterval(function(){logical(timearr,alarmInfo,task);}, 1000);  

  }
</script>



{%endblock%}