<!DOCTYPE html>
{%load static%}
{% load crispy_forms_tags %}
<html lang="en" dir="ltr">
  <head >
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{%static "todoapp/todo_create.css"%}">
    <link rel="stylesheet" href="{%static "todoapp/form_style.css"%}">
    <link rel="stylesheet" href="{%static "todoapp/group_static.css"%}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
  

  </head>
  <body class="body_class"  id="stop" onload="testfunction()">

      <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container">
          <a class="navbar-brand" href="/mylist/mylist">ToDo</a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ">
                <li class="nav-item">
                    <a class="nav-link" href="/mylist/mylist">My List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/group">Group</a>
                </li>
              </ul>
              <ul class="navbar-nav ml-auto">
                     <span style="color:white;padding-top:9px;"><li>User:&nbsp{{current_user|title}}</li></span> &nbsp&nbsp&nbsp
                     <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
                            My Acount
                          </a>
                         <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                           <a class="dropdown-item" href="/reset">Reset Password</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="/accounts/logout">Logout</a>
                        </div>
                    </li>
               </ul>
            </div>
            </div>
        </nav>
      {% block body_block %}

      <script type="text/javascript" src="{%static "todoapp/function.js" %}" ></script>

      {% endblock %}
      <script type="text/javascript" src="{%static "todoapp/jquerry_sort.js" %}" defer></script>
      <script type="text/javascript" src="{%static "todoapp/groupJquerry.js" %}" defer></script>

  </body>
</html>
