<!DOCTYPE html>
{% extends "todoapp/base2.html" %}

{% block body_block %}
{{ block.super }}

	<div class="createtask_outer">
	<h3>Assign Tasks</h3>
	<form method="post">
		{% csrf_token %}

		<label>Task</label>
		<input type="text" class="form-control" name="task" required><br>

		<label>Assign to</label>
		<select name="member_id" class="form-control" required>
            <option value="" disabled selected>Select Member</option>
            {% for data in grp_member %} <!-- grp_member contains all the members group(in use) -->
            <option value="{{data.id}}">{{data.member}}</option>
            {% endfor%}
    </select><br> 
    <label>Comments</label>
    <textarea class="form-control" name="comment" style="width:86%;" required></textarea>

	
	<input type="submit"  value="Assign" class="btn btn-primary btn-sm">
		
	</form>
	</div>
  {% if messages %}
    {% for message in messages %}
      <script>
          alert("{{message}}");
        </script>
    {% endfor %}
  {% endif %}
<script >
  function testfunction(){

      console.log("hello");
    var data1 = [
        {%for data2 in data%}
          "{{data2.date}}","{{data2.time}}",
        {%endfor%}
      ];
    var task = [
        {%for data2 in data%}
          "{{data2.task}}",
        {%endfor%}
      ];

      var timearr =[];
    var i;
  for(i=0;i<(data1.length)-1;){
        timearr[timearr.length]=data1[i]+data1[i+1];
        i +=2;
      }

      var alarmInfo = {};
    
      for (let i =0; i < timearr.length; i++) {
        alarmInfo[timearr[i]+task[i]] = 'no';
      }
      
      setInterval(function(){taskNotification(timearr,alarmInfo,task);}, 1000);  

  }
</script>



{%endblock%}