<!DOCTYPE html>
{% extends "todoapp/base2.html" %}

{% block body_block %}
{{ block.super }}


	<div class="create_group">
		<h3>Create Group</h3>
	<form method="post">
		{% csrf_token %}
		<label>Group Name</label>
		<input type="text" name="group" required>
		<input type="submit" value="Create" class="btn btn-primary btn-sm">
	</form>
	</div>
	<hr>
	<div class="selectGroup">
		{% if grpdata_member %}	

			<select class="form-control" id ="select-group" onchange="window.location.href=this.value">
				{% for data in grpdata_member %}
			    <option value="/group/{{data.created_by}}/{{data.group}}">{{data.group}}</option>
			    {% endfor %}
			</select>
		{% endif %}
	</div>
	<div >
		{% if grpdata_member %}	

			<select class="form-control" id ="select-group" onchange="window.location.href=this.value">
				{% for data in grpdata_member %}
			    <option value="/group/{{data.created_by}}/{{data.group}}">{{data.group}}</option>
			    {% endfor %}
			</select>
		{% endif %}
	</div>
	<div>
		{% if lst %}
			<table class="table">
				<tr>
					<th>Task</th>
					<th>Assigned By</th>
				</tr>
				{% for i in lst %}
				{% for j in i %}
				<tr>
					<td>
						{{j.task}}
					</td>
					<td>
						{{j.assigned_by}}
					</td>
				</tr>
				{% endfor %}
				{% endfor %}
			</table>
		{% endif %}
	</div>

	<script >
		function groupSelect(val1,val2) {
			console.log(val1,val2)
          document.getElementById("select-group").value = "/group/"+val1+"/"+val2;
        }
        groupSelect('{{created_by}}','{{group}}');
	</script>

	{% if messages %}
        {% for message in messages %}
          <script>
            alert("{{message}}");
          </script>
        {% endfor %}
  {% endif %}
	</div>
<script >
  function testfunction(){

      console.log("hello");
    var data1 = [
        {%for data2 in data%}
          "{{data2.date}}","{{data2.time}}",
        {%endfor%}
      ];
    var task = [
        {%for data2 in data%}
          "{{data2.task}}",
        {%endfor%}
      ];

      var timearr =[];
    var i;
  for(i=0;i<(data1.length)-1;){
        timearr[timearr.length]=data1[i]+data1[i+1];
        i +=2;
      }

      var alarmInfo = {};
    
      for (let i =0; i < timearr.length; i++) {
        alarmInfo[timearr[i]+task[i]] = 'no';
      }
      
      setInterval(function(){logical(timearr,alarmInfo,task);}, 1000);  

  }
</script>



{%endblock%}
