<!DOCTYPE html>
{% extends "todoapp/base2.html" %}

{% block body_block %}
{{ block.super }}

	<div class="createtask_outer">
	<h3>Assign Tasks</h3>
	<form method="post">
		{% csrf_token %}

		<label>Task</label>
		<input type="text" class="form-control" name="task" required><br>

		<label>Assign to</label>
		<select name="member_id" class="form-control" required>
            <option value="" disabled selected>Select Member</option>
            {% for data in grp_member %} <!-- grp_member contains all the members group(in use) -->
            <option value="{{data.id}}">{{data.member}}</option>
            {% endfor%}
    </select><br> 
    <label>Comments</label>
    <textarea class="form-control" name="comment" style="width:86%;" required></textarea>

	
	<input type="submit"  value="Assign" class="btn btn-primary btn-sm">
		
	</form>
	</div>
  {% if messages %}
    {% for message in messages %}
      <script>
          alert("{{message}}");
        </script>
    {% endfor %}
  {% endif %}
{% include 'todoapp/alarmnotification.html' %}



{%endblock%}