<!DOCTYPE html>
{% extends "todoapp/base2.html" %}

{% block body_block %}
{{ block.super }} 
<div class="sticky-top">
    <nav class="navbar navbar-expand-sm navbar-light bg-light ">
      <div class="container">
        <div class="navbar-collapse collapse" id="navbar2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                  <a href=" " class="btn btn-primary btn-sm" data-toggle="modal" data-target="#update-task">Update Task</a> 
                </li>
            </ul>
        </div>
        </div>
    </nav>
</div>

<div class="mylist">
  <br><br>
  <table  class="customTable" >
    <thead >
      <tr>
        <th>Task</th>
        <th>Due Date</th>
        <th>Due Time</th>
        <th>Status</th>
        <th>Description</th>
      </tr>
    </thead>
        <tr>
          <td>{{task}}</a></td>
          <td>{{date}}</td>
          <td>{{time}}</td>
          <td>{{status}}</td>
          {% if description != '' %}
              <td>{{description|linebreaks}}</td>
          {% else %}
              <td>-&nbsp&nbsp(empty)</td>
          {%endif%}

        </tr>
    </table><br>
    <hr>
    <p style="font-size: 25px;">Activity</p>
      <select id="select-option" class="form-control" onchange="window.location.href=this.value">
        <option value='/{{id}}/description/description' selected>Description</option>
        <option value='/{{id}}/summary/description'>Summary</option>
        <option value='/{{id}}/more_detail/description'>More Details</option>
      </select>
    <br>

    <div class="description-activity-outer">
      {%for data in description_data%}<!-- This contains all the record of selected task -->
           <div class="description-activity">
            {% if  seleted_option == 'description' %}
                {% if data.description_summary != '' %}        
                  {% if data.description_summary != 'None' %}
                   {{data.description_summary|linebreaks}}
                   <p style="font-weight: bold;">{{data.dateTime}}</p>
                   {% endif %}
                {% else %}
                  -&nbsp&nbsp(empty)
                   <p style="font-weight: bold;">{{data.dateTime}}</p>   
                {% endif %}
            {% endif %}
            {% if seleted_option == 'summary'%}
                {% if data.created_update != None %}
                    {{data.created_update |linebreaks}} 
                     <p style="font-weight: bold;">{{data.dateTime}}</p>
                {% endif%}
            {% endif %}
            {% if seleted_option == 'more_detail' %}
                {% if data.modefied_detail != None %}
                  {{data.modefied_detail|linebreaks}}
                {% endif %}
            {% endif %}
           </div>
      {%endfor%}
    </div>
<br><br>
</div>

<script >
  function selectOption(val,id) {
    console.log(val);
  document.getElementById("select-option").value = "/" + id + "/" + val + "/" + "description";
  }
  selectOption('{{seleted_option}}',{{id}});
</script>


{% include 'todoapp/alarmnotification.html' %}

{% include 'todoapp/update.html' %}

{% if messages %}
    {% for message in messages %}
      <script>
          alert("{{message}}");
        </script>
    {% endfor %}
  {% endif %}


 {%endblock%}


