<!DOCTYPE html>
{% extends "todoapp/base2.html" %}

{% block body_block %}
{{ block.super }} 

      
<div class="mylist">
  <br><br>
  <a href="/{{id}}/summary" class="btn btn-primary">Summary</a>
  <a href="/{{id}}/update" class="btn btn-primary">Update</a><br><br>
  <table  class="table table-bordered sortable" style="width: 70%">
    <thead class="thead-light">
      <tr>
        <th>Task</th>
        <th>Due Date</th>
        <th>Due Time</th>
        <th>Description</th>
      </tr>
    </thead>
        <tr>
          <td>{{task}}</a></td>
          <td>{{date}}</td>
          <td>{{time}}</td>
          {% if description != '' %}
              <td>{{description|linebreaks}}</td>
          {% else %}
              <td>-&nbsp&nbsp(empty)</td>
          {%endif%}

        </tr>
    </table><br>
    
    <div style="border-bottom: 2px solid grey; width:70%; "></div><br>

    <div class="task_description">
    <table class="table" style="width: 70%">
      <tr>
        <th >Description Details</th>
        <th >Date&Time</th>
      </tr>
      {%for data in description_data%}<!-- This contains all the record of selected task -->
        <tr>
          {% if data.description_summary != '' %}
            <script type="text/javascript">
            </script>
            {% if data.description_summary != 'None' %}
            <script type="text/javascript">
            </script>
             <td>{{data.description_summary|linebreaks}}</td>
             <td>{{data.dateTime}}</td>
             {% endif %}
          {% else %}
            
            <td>-&nbsp&nbsp(empty)</td>
            <td>{{data.dateTime}}</td>
            
          {% endif %}

        </tr>
      {%endfor%}
    </table>

</div>
</div>


{% include 'todoapp/alarmnotification.html' %}



 {%endblock%}


