<!DOCTYPE html>
{% extends "todoapp/base2.html" %}

{% block body_block %}
{{ block.super }} 

      
<div class="mylist">
  <br><br>
  <a href="/{{id}}/summary" class="btn btn-primary">Summary</a>
  <a href="/{{id}}/update" class="btn btn-primary">Update</a><br><br>
  <table  class="table table-bordered sortable" style="width: 70%">
    <thead class="thead-light">
      <tr>
        <th>Task</th>
        <th>Due Date</th>
        <th>Due Time</th>
        <th>Description</th>
      </tr>
    </thead>
        <tr>
          <td>{{task}}</a></td>
          <td>{{date}}</td>
          <td>{{time}}</td>
          {% if description != '' %}
              <td>{{description|linebreaks}}</td>
          {% else %}
              <td>-&nbsp&nbsp(empty)</td>
          {%endif%}

        </tr>
    </table><br>
    
    <div style="border-bottom: 2px solid grey; width:70%; "></div><br>

    <div class="task_description">
    <table class="table" style="width: 70%">
      <tr>
        <th >Description Details</th>
        <th >Date&Time</th>
      </tr>
      {%for data in description_data%}
        <tr>
          {% if data.description_summary != '' %}
            <script type="text/javascript">
              console.log("inside 1")
            </script>
            {% if data.description_summary != 'None' %}
            <script type="text/javascript">
              console.log("inside 2")
            </script>
             <td>{{data.description_summary|linebreaks}}</td>
             <td>{{data.dateTime}}</td>
             {% endif %}
          {% else %}
            
            <td>-&nbsp&nbsp(empty)</td>
            <td>{{data.dateTime}}</td>
            
          {% endif %}

        </tr>
      {%endfor%}
    </table>

</div>
</div>


<script >
  function testfunction(){
    

    var data1 = [
        {%for data2 in data%}
          "{{data2.date}}","{{data2.time}}",
        {%endfor%}
      ];
    var task = [
        {%for data2 in data%}
          "{{data2.task}}",
        {%endfor%}
      ];

      var timearr =[];
    var i;
  for(i=0;i<(data1.length)-1;){
        timearr[timearr.length]=data1[i]+data1[i+1];
        i +=2;
      }

      var alarmInfo = {};
    
      for (let i =0; i < timearr.length; i++) {
        alarmInfo[timearr[i]+task[i]] = 'no';
      }
      
   

      setInterval(function(){logical(timearr,alarmInfo,task);}, 1000);  

      

  }
</script>


 {%endblock%}


