<!DOCTYPE html>
{% extends "todoapp/base2.html" %}

{% block body_block %}
{{ block.super }}

<div class="sticky-top">
  
    <nav class="navbar navbar-expand-sm navbar-light bg-light ">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar2">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar2">
            <ul class="navbar-nav">
              <li class="nav-item ">
                  <select class="form-control" id="select-status" onchange="window.location.href=this.value">
                    <option value="/mylist/mylist" selected>All Tasks</option>
                    <option value="/mylist/todo">ToDo</option>
                    <option value="/mylist/inProgress">In Progress</option>
                    <option value="/mylist/done">Done</option>
                  </select>
              </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                  <a href=" " class="btn btn-primary btn-sm" data-toggle="modal" data-target="#todo-create">Create Task&nbsp<i class="fa fa-plus"></i></a> 
                </li>
            </ul>
        </div>
        </div>
    </nav>
</div><br>

<div > 
    <input style="float: left; width: 200px; margin-left: 30px;" type="text" name="search" id="search" class="form-control" placeholder="Search....">&nbsp
    <button class="btn btn-outline-primary btn-sm" onclick="search()"><span style="font-size: 21px;" class="material-icons">search</span></button>
    <br><br>
  </div>

    {% if alldata %}
      <form method="post">
             {%csrf_token%}

         <table  id="myTable" class="customTable" >
                
            <tr>
              <th style="width: 15%">
                <input type="checkbox" id="selecttodo" onclick="selectAll(this,document.getElementsByClassName('flag_mylist'))"><span style="margin-left: 20px"><input type="submit" name="submit" class="btn btn-danger btn-sm" value="Delete">
                </span>
              </th>
              <th class = "first">Task</th>
              <th class= "second">Due Date</th>
              <th class= "third" >Due Time</th>
            </tr>
             
            {%for alldata in alldata%}
              <tr class="rowUsedForSearch">
                <td><input type="checkbox" class="flag_mylist"  name="{{alldata.id}}">
                
                </td>
                <td class="task" onclick="window.location.href='/{{alldata.id}}/description/description'" >{{alldata.task}}</td>
                <td class="date" onclick="window.location.href='/{{alldata.id}}/description/description'">{{alldata.date}}</td>
                <td class="time" onclick="window.location.href='/{{alldata.id}}/description/description'">{{alldata.time}}</td>
              </tr>  
            {%endfor%}
          
        </table>
                
    </form>
     
    {% else %}
        <h1 id="notask" style="color: grey;">No Tasks Found</h1>
    {% endif%}
      
<script > 
  function selectStatus(status) {
    document.getElementById("select-status").value = "/mylist/" + status;
  }
  selectStatus('{{status}}');
</script>

{% include 'todoapp/todo_create.html' %}
{% include 'todoapp/alarmnotification.html' %}

{%endblock%}


