<!DOCTYPE html>
{% extends "todoapp/base2.html" %}

{% block body_block %}
{{ block.super }}

 <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading"></div>
       <div></div>
      <div class="list-group list-group-flush">

        <a href="/"class="list-group-item list-group-item-action bg-light">Create Task</a>
        <a href="/mylist/todo" class="list-group-item list-group-item-action bg-light">To Do</a>
        <a href="/mylist/inProgress" class="list-group-item list-group-item-action bg-light">In Progress</a>
        <a href="/mylist/done" class="list-group-item list-group-item-action bg-light">Done</a>
        
      </div>
    </div>


    {% if alldata %}
        <div class="mylist">
          {% if todo %}
        <h1 id="mylist_header">Tasks ToDo</h1><br><br><br>
          {% elif inProgress %}
        <h1 id="mylist_header">Tasks In Progress</h1><br><br><br>
          {% elif done %}
        <h1 id="mylist_header">Tasks Done</h1><br><br><br>
          {% else %}
        <h1 id="mylist_header">All Tasks</h1><br><br><br>
          {% endif %}
          <form method="post">
             {%csrf_token%}

         <table  id="myTable" class="table table-bordered sortable" style="width: 95% ; margin-left: 10px">
          <thead class="thead-light">
      <tr>
        <th style="width: 15%">
          <input type="checkbox" id="selecttodo" onclick="selectAll(this,document.getElementsByClassName('flag_mylist'))"><span style="margin-left: 20px"><input type="submit" name="submit" class="btn btn-danger btn-sm" value="Delete">
          </span>
        </th>
        <th class = "first">Task</th>
        <th class= "second")>Due Date</th>
        <th >Due Time</th>
        
      </tr>
        </thead>
      {%for alldata in alldata%}
        <tr>
          <td><input type="checkbox" class="flag_mylist"  name="{{alldata.id}}">
          
          </td>
          <td class="task" ><a href="/{{alldata.id}}/description">{{alldata.task}}</a></td>
          <td class="date">{{alldata.date}}</td>
          <td class="time" >{{alldata.time}}</td>
        </tr>  
      {%endfor%}
      
                </table>
                
          </form>
      </div>

    {% else %}
        <h1 id="notask">No Tasks Found</h1>
    {% endif%}
      


<script >
  function testfunction(){

      console.log("hello");
    var data1 = [
        {%for data2 in data%}
          "{{data2.date}}","{{data2.time}}",
        {%endfor%}
      ];
    var task = [
        {%for data2 in data%}
          "{{data2.task}}",
        {%endfor%}
      ];

      var timearr =[];
    var i;
  for(i=0;i<(data1.length)-1;){
        timearr[timearr.length]=data1[i]+data1[i+1];
        i +=2;
      }

      var alarmInfo = {};
    
      for (let i =0; i < timearr.length; i++) {
        alarmInfo[timearr[i]+task[i]] = 'no';
      }
      
      setInterval(function(){logical(timearr,alarmInfo,task);}, 1000);  

  }
</script>



{%endblock%}


