<!DOCTYPE html>
{% extends "todoapp/base2.html" %}
{% load crispy_forms_tags %}

{% block body_block %}
{{ block.super }}
  <div class="reset-password-form">
  <form method="post">
    {%csrf_token%}
  	<div class="reset-password-form-header">Reset Password</div>
    <div class="reset-password-form-body">
    {{form|crispy}}<br>
    <input type="submit" class="btn btn-success" value="Reset">
    </div>
  </form>
</div>
{% if messages %}
        {% for message in messages %}
          <script>alert("{{message}}");</script>
        {% endfor %}
 {% endif %}


{% include 'todoapp/alarmnotification.html' %}


{%endblock%}