<!DOCTYPE html>
{% extends "todoapp/base2.html" %}
{% load crispy_forms_tags %}

{% block body_block %}
{{ block.super }}
  <div class="i-am-centered">
  <form method="post">
  	<legend>Reset Password</legend>
    {{form|crispy}}<br>
    {%csrf_token%}
    <input type="submit" class="btn btn-success" value="Reset">
  </form>
</div>
{% if messages %}
        {% for message in messages %}
          <script>alert("{{message}}");</script>
        {% endfor %}
 {% endif %}


{% include 'todoapp/alarmnotification.html' %}


{%endblock%}