<!DOCTYPE html>
{% extends "todoapp/base2.html" %}
{% load crispy_forms_tags %}

{% block body_block %}
{{ block.super }}
  <div class="i-am-centered">
  <form method="post">
  	<legend>Reset Password</legend>
    {{form|crispy}}<br>
    {%csrf_token%}
    <input type="submit" class="btn btn-success" value="Reset">
  </form>
</div>
{% if messages %}
        {% for message in messages %}
          <script>alert("{{message}}");</script>
        {% endfor %}
 {% endif %}


<script >
  function testfunction(){
    
    console.log("hello");
    var data1 = [
        {%for data2 in data%}
          "{{data2.date}}","{{data2.time}}",
        {%endfor%}
      ];
    var task = [
        {%for data2 in data%}
          "{{data2.task}}",
        {%endfor%}
      ];

      var timearr =[];
    var i;
  for(i=0;i<(data1.length)-1;){
        timearr[timearr.length]=data1[i]+data1[i+1];
        i +=2;
      }

      var alarmInfo = {};
    
      for (let i =0; i < timearr.length; i++) {
        alarmInfo[timearr[i]+task[i]] = 'no';
      }
      
    
      setInterval(function(){taskNotification(timearr,alarmInfo,task);}, 1000);  
     

  }
</script>

{%endblock%}