<!DOCTYPE html>
{% extends "todoapp/base2.html" %}

{% block body_block %}
{{ block.super }}      

      {%if summary_data%}
<div class="summary">
  <div style="float: left;">
    <legend > Task Summary</legend>
    </div>
    <span class="summary_detail_btn"><a href="/{{id}}/detail" class="btn btn-outline-primary btn-sm">More Details</a></span><br><br>
    <table class="table">
      <tr>
        <th >Create/Updated</th>
        <th >Date and Time</th>
      </tr>
      {%for data in summary_data%} <!-- This is used to show only updated or created staatus of object -->
        <tr>
          {% if data.created_update != None %}
          <td >{{data.created_update}}</td>
          <td >{{data.dateTime}}</td>
          {% endif%}
        </tr>
      {%endfor%}
    </table>
</div>
{%endif%}

{% include 'todoapp/alarmnotification.html' %}


 {%endblock%}


