<!DOCTYPE html>
{% extends "todoapp/base2.html" %}

{% block body_block %}
{{ block.super }}      

      {%if summary_data%}
<div class="summary">
  <div style="float: left;">
    <legend > Task Summary</legend>
    </div>
    <span class="summary_detail_btn"><a href="/{{id}}/detail" class="btn btn-outline-primary btn-sm">More Details</a></span><br><br>
    <table class="table">
      <tr>
        <th >Create/Updated</th>
        <th >Date and Time</th>
      </tr>
      {%for data in summary_data%} <!-- This is used to show only updated or created staatus of object -->
        <tr>
          {% if data.created_update != None %}
          <td >{{data.created_update}}</td>
          <td >{{data.dateTime}}</td>
          {% endif%}
        </tr>
      {%endfor%}
    </table>
</div>
{%endif%}

<script >
  function testfunction(){
    
console.log("hello");
    var data1 = [
        {%for data2 in data%}
          "{{data2.date}}","{{data2.time}}",
        {%endfor%}
      ];
    var task = [
        {%for data2 in data%}
          "{{data2.task}}",
        {%endfor%}
      ];

      var timearr =[];
    var i;

  for(i=0;i<(data1.length)-1;){
        timearr[timearr.length]=data1[i]+data1[i+1];
        i +=2;
      }

      var alarmInfo = {};
    
      for (let i =0; i < timearr.length; i++) {
        alarmInfo[timearr[i]+task[i]] = 'no';
      }
      
     

      setInterval(function(){taskNotification(timearr,alarmInfo,task);}, 1000);  

      

  }
</script>

 {%endblock%}


