<!DOCTYPE html>
{% extends "todoapp/base2.html" %}

{% block body_block %}
{{ block.super }}

<div class = "external_task_detail">
{%if detail_data%}
  <h4>Task Details</h4>
      {%for data in detail_data%}
        <div class="task_detail" >
          {% if data.modefied_detail != None %}
             {{data.modefied_detail|linebreaks}}
          {% endif %}
        </div>
      {%endfor%}
    
{%endif%}
<br><br>
</div>

<script >
  function testfunction(){
    

    console.log("hello");
    var data1 = [
        {%for data2 in data%}
          "{{data2.date}}","{{data2.time}}",
        {%endfor%}
      ];
    var task = [
        {%for data2 in data%}
          "{{data2.task}}",
        {%endfor%}
      ];

      var timearr =[];
    var i;
   
  for(i=0;i<(data1.length)-1;){
        timearr[timearr.length]=data1[i]+data1[i+1];
        i +=2;
      }

      var alarmInfo = {};
    
      for (let i =0; i < timearr.length; i++) {
        alarmInfo[timearr[i]+task[i]] = 'no';
      }
      


      setInterval(function(){logical(timearr,alarmInfo,task);}, 1000);  

  }
</script>


 {%endblock%}


<script type="text/javascript">
  
</script>