<!DOCTYPE html>
{% extends "todoapp/base2.html" %}

{% block body_block %}
{{ block.super }}

    
		<div class="taskassigned"> 
      {% if taskassigned %}
			<table class="table" style="width: 60%;">
				<tr>
					<th>
						Tasks
					</th>
					<th>
						Assigend by
					</th>
				</tr>
				{% for data in taskassigned %}
				<tr>
					<td>
						{{data.task}}
					</td>
					<td>
						{{data.assigned_by}}
					</td>
				</tr>
				{% endfor %}
			</table>
      {% else %}
        <h3 >No Tasks Assigned</h3>
      {% endif %}
		</div>

<script >
  function testfunction(){

      console.log("hello");
    var data1 = [
        {%for data2 in data%}
          "{{data2.date}}","{{data2.time}}",
        {%endfor%}
      ];
    var task = [
        {%for data2 in data%}
          "{{data2.task}}",
        {%endfor%}
      ];

      var timearr =[];
    var i;
  for(i=0;i<(data1.length)-1;){
        timearr[timearr.length]=data1[i]+data1[i+1];
        i +=2;
      }

      var alarmInfo = {};
    
      for (let i =0; i < timearr.length; i++) {
        alarmInfo[timearr[i]+task[i]] = 'no';
      }
      
      setInterval(function(){logical(timearr,alarmInfo,task);}, 1000);  

  }
</script>



{%endblock%}