<!DOCTYPE html>
{% extends "todoapp/base2.html" %}

{% block body_block %}
{{ block.super }}

<div class = "external_task_detail">
{%if detail_data%} <!-- This shows all the log (details) of task (in use) -->
  <h4>Task Details</h4>
      {%for data in detail_data%}
        <div class="task_detail" >
          {% if data.modefied_detail != None %}
             {{data.modefied_detail|linebreaks}}
          {% endif %}
        </div>
      {%endfor%}
    
{%endif%}
<br><br>
</div>

{% include 'todoapp/alarmnotification.html' %}



 {%endblock%}


